<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="'About Us'">
  <ion-content has-header="true" has-tabs="true" padding="true">
    <img src="img/logo.png" style="width: 100%;">

      <h3>#NHTG14</h3>
    <div>
        <h4>Technologies</h4>
        <ul>
            <li>* ONS NeSS Api</li>
            <li>* Live Food Hygiene Ratings Scheme Api</li>
            <li>* Google Directions</li>
            <li>* AngularJs</li>
            <li>* Ionic Framework</li>
            <li>* NodeJs</li>
        </ul>
    </div>

      <div>
          <h4>The team</h4>
          <ul>
              <li>Conor J Kiernan</li>
              <li>Francois-X Beckers</li>
              <li>Nafisa Javed</li>
          </ul>
      </div>


      <img src="img/team.jpg" style="width: 100%;">
  </ion-content>
</ion-view>
